.box {
	height: 75px;
	width: 75px;
	background-color: lightblue;
	border-radius: 0.2rem;
}

.container {
	background-color: yellow;
	width: 22%;
	border-radius: 0.3rem;
	display: grid;
	gap: 1.2rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: .2rem 0.2rem;
}

.box:hover{
	animation: wobble 0.5s ease-in-out infinite
}
@keyframes wobble {
	0%,100% {
		transform: rotateZ(0deg);
	  }
	  25% {
		transform: rotateZ(-5deg);
	  }
	  50% {
		transform: rotateZ(5deg);
	  }
	  75% {
		transform: rotateZ(-5deg);
	  }
	  
}